@page "/stock"

<PageTitle>Stock Market</PageTitle>


<h3 class="alert alert-primary">@FinalPrice</h3>


<CascadingValue Value="A">
    <Symbol SymbolName="BTCUSDT"
            FinalPrice="SetFinalPrice"></Symbol>
</CascadingValue>



@code {

    private string A = "aaaaaa";
    private decimal FinalPrice { get; set; }

    private async Task SetFinalPrice(decimal price)
    {
        FinalPrice = price;
    }
}
